<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 10vh;
        padding: 0;
      } 
      @keyframes lefttoright {
        0% {
          transform: translateX(0px) rotate(360deg);
        }
      }

      .ball {
        width: 500px;
        height: 500px;
        background: orange;
        border-radius: 50%;
        text-align: center;
        font-size: 500px;
        animation: lefttoright 75ms linear infinite;
      }
    </style>
  </head>
  <body>
    <div class="ball">DVD SONY</div>
  </body>
</html>
